body {
    font-family: 'Lato' sans-serif;
     color: #747704;
	 font-weight:300;
}

.text-muted {
	color: #BCBBB;
}

.text-thin {
	font-weight:300;
}

.title-super {
	font-size:60px;	
}

.title-logo {
	margin-top:20px;
}