.description {
    outline: 4px solid red;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.image {
    width:650px;
    height: 700px;
    <!--
        max-height: 334px;
        max-height: 334px;
    -->
    border-width: 10px;
    border-style: dotted;
    margin: 0 25px 25px 0;
    border-color: #f3e67b #577292;
    <!--margin-right: 8px;-->
}

.description {
    max-width: 705px;
    max-height: 334px;
    margin-left: 1px;
}

.app {
    display: flex;
}
h1{
    color: #e6b181;
    background-color: #5d7694;
}